.img-cont {
  padding: 10px;
  box-shadow: -1px 2px 33px 0px rgba(214, 214, 214, 1);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.gallery_product {
  padding: 5px;
}

.img-responsive {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background: no-repeat;
}
/* Button */
.donate_comman_button {
  color: #fff;
  background-color: #ff6d0d;
  padding: 14px 31px 15px 30px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: #fff !important;
    background-color: #ca5407;
    text-decoration: none;
  }
}

.header-logo {
  width: 26%;
}

.donate-details {
  color: #999;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 30px;
}

/* Slider */

.web-slider {
  display: block !important;
  @media screen and (max-width: 720px) {
    display: none !important;
  }
}

.mobile-slider {
  display: none !important;
  @media screen and (max-width: 720px) {
    display: block !important;
  }
}
